<div id="smartcontent_main_menu">
	<ul>
	<{foreach item=menuitem from=$block name=loop}>
		
			<li class="menu_level_<{$menuitem.level}>">
			<{if $menuitem.selected}>
				<span id="smartcontent_menuitem_selected"><{$menuitem.caption}></span>
			<{else}>
				<a href="<{$menuitem.link}>"><{$menuitem.caption}></a>
			<{/if}>
			<{if $menuitem.subs}>
				<{includeq file='db:smartcontent_navigation_loop.html' block=$menuitem.subs }>
			<{/if}>
			</li>
		
	<{/foreach}>
	</ul>		
</div>